nav {
    display: flex;
    flex-direction: column;
}

.row1 {
    display: flex;
    background-color: black;
    color: white;
    width: 100%;
}

.nav-row1-left {
    display: flex;
    padding-right: 10px;
    flex-grow: 10;

}

.nav-row1-right {
    display: flex;
    justify-content: flex-end;
    float: right;
    flex-grow: 10;
}

li {
    padding-right: 10px;
    list-style: none;
}

.nav-row1-right a:link, a:visited {
    color: gray;
    text-decoration: none;
}

.nav-row1-left a:link, a:visited {
    color: gray;
    text-decoration: none;
}

.nav-row1-left a:hover {
    color: white;
    text-decoration: none;
}

.nav-row1-right a:hover {
    color: white;
    text-decoration: none;
}

.row2 {
    display: flex;

}
.nav-row2-left {
    display: flex;
    color: gray;
}

