nav {
    display: flex;
    flex-direction: column;
}

.row1 {
    display: inline-flex;
    background-color: black;
    color: white;
}

.nav-row1-left {
    float: left;
}

.nav-row1-right {
    float: right;
}