@media only screen and (max-width: 600px) {

    .row1 {
      flex-direction: column;
      font-size: 11px;
      margin: 0 auto;
    }

    li {
            padding-right: 0;
    }

    .row2 {
        flex-direction: column;
        font-size: 10px;
        margin: 0 auto;
        padding: 0;
    }

    .header-first-row {
        flex-direction: column;
        overflow: hidden;
    }

    .tech-news section {
        flex-direction: column;
        flex: 100%;
    }
 
}


body {
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;
    border: none;
}

.container {
    margin: 0 auto;
    max-width: 1192px;
    box-sizing: border-box;
} 

nav {
    display: flex;
    flex-direction: column;
}

hr {
    border: 1px solid rgba(255,68,34,.25)
}

h3 {
    color:  #f42;
    margin: 1%;
    padding-top: 50px;
}

.footer-nav-menu {
    display: flex;
}

.row1 {
    display: flex;
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-row1-left {
    display: flex;
    padding-right: 5px;

}

.nav-row1-right {
    display: flex;
    justify-content: flex-end;
    flex-grow: 10;
}

li {
    padding-right: 10px;
    list-style: none;
}

.nav-row1-right a:link, a:visited {
    color: gray;
    text-decoration: none;
}

.nav-row1-left a:link, a:visited {
    color: gray;
    text-decoration: none;
}

.nav-row1-left a:hover {
    color: white;
    text-decoration: none;
}

.nav-row1-right a:hover {
    color: white;
    text-decoration: none;
}

.row2 {
    display: flex;
    text-decoration: none;
    background-color: #fff;
}

.nav-row2-left {
    display: flex;
    color: gray;
}

.nav-row2-left a:link {
    text-decoration: none;
}

.nav-row2-left a:hover {
    color: black;
    text-decoration: none;
}

.nav-row2-right {
    display: flex;
    color: gray;
    flex-grow: 10;
    justify-content: flex-end;
}

.nav-row2-right i {
     transform: rotateY(180deg);
     font-size: large;
     margin: auto 20px;
}

.header-first-row {
    display: flex;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #eee, #fff 25%);
    background-repeat: no-repeat;
    flex: 100%;
    height: 500px;
    min-width: 374px;
}

.header-column1 {
    flex: 2;
    min-width: 345px ;
}

.header-column2 {
    flex: 1;
    min-width: 165px;
}

.funding-rounds {
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
}

.funding-round-items {
    flex: 17.8%;
    margin: 0 1%;
    background: #fffaf8;
    min-width: 250px;
}

.funding-round-items p {
    padding: 0 5%;

}

.funding-round-items img {
    width: 60px;
    height: 60px;
    margin: 15px;
    z-index: 10;
    float: left;

}

.item-header {
    background: #f42;
    color: #fff;
    line-height: 3;
    padding: 0 5%;
    margin: 0;
}

.item-amount, .item-category {
    line-height: 2;
    margin: 0;
    padding: 0 5%;
    background: rgba(255,68,34,.08);
}


.latest-news-item,  .latest-deals-items div {
    flex: 17.8%;
    background: #fffaf8;
    min-width: 250px;
    margin: 0 1% 1%;
}

.latest-news-items, .latest-deals-items {
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
    margin: 0;
    padding: 0;
}

.latest-news-item figure {
    margin: 0 0;
}

.latest-news-item figure img {
    width: 100%;
    flex: 100%;
    padding: 0;
    margin: 0 auto;
}

.latest-deals-items div {
    background-image: url("https://cdnp0.stackassets.com/7729a09bbeb1c288a048c1b854dababc73e30ef1/store/dbef0dc7b1c1694830a3a9bc71b4bc976bf8e0e1e84cb62e12bab0fe6e72/sale_25440_primary_image.jpg");
    height: 20em;
    width: 17.8%;
    margin: 1em;
}

.tech-news {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.tech-news section {
    flex: 30%;
    margin: 0 1%;
    min-width: 250px;
    color: #555;
}

.tech-news-block {
    margin: 2% 0;
    background: rgba(255,68,34,.06);
}

.tech-news-block li {
    border-bottom: 1px solid #eee;
    color: #555;
    font-size: 13px;
    padding: 1% 0 1% 2%;
    list-style: " •";
    background-color: #fff;
}

.tech-news-block ul {
    background-color: #fff;
    padding: 0;
    padding-left: 1%;
}

.tech-latest {
    padding-left: 4%;
    color:#f42;
}

.tech-latest img {
    float: right;
    width: 96px;
    height: 96px;
} 


.tech-most-popular {
    background-image: linear-gradient(to top, #444, #555 10%, transparent), url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/12/Spirited-Away-796x415.jpg");
    background-size: 100% 100%;
    color: white;
    height: 276px;
    margin: 0;
    padding: 4%;
}

#figure-tesla {  
    height: 100%;
    background-repeat: no-repeat;    
    background-image: linear-gradient(to top, #444, #555 10%, transparent), url(./resources/tesla-img.jpg);
    background-size: 100% 100%;
    margin: 0 1.5%;
    margin-top: 1.5%;
}

#figure-tesla figcaption {
    position: relative;
    display: inline-block;
    flex-basis: auto;
    color: #fff;
    font-size: xx-large;
    font-weight: 900;
    bottom: -50%;

}

#twd-img {
    padding: 3%;
    width: 45%;
}

#figure-test-short {
    float: right;
    color: white;
}

.header-column2 figure {
    height: 97%;
    margin-left: 0;
    margin-top: 3%;
    margin-right: 3%;
    overflow: hidden;
}

#figure-aside {
    background-image: linear-gradient(to top, #444, #555 10%, transparent), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/01/trump-tesla-grant-money-inject-research-hydrogen-science-796x448.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 48.5%;
}

#figure-aside2 {
    background-image: linear-gradient(to top, #444, #555 10%, transparent), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/05/tether-1122-796x431.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 48.5%;
}

#figure-aside figcaption, #figure-aside2 figcaption {
    position: relative;
    padding: 0 2%;
    color: #fff;
    font-size: x-large;
    font-weight: 400;
    bottom: -75%;
}

footer {
    background-color: #131313;
    text-align: center;
    padding-top: 20px;
    color: #555;
}

.copyright {
    height: 5em;
    text-align: center;
    padding-top: 1.5%;
    background:#000;
    color:#aaa;
    font-size: 80%;
}

#footer-nav-items {
    display: flex;
    margin: 30px auto;
    font-size: small;
}

#footer-nav-items a:link {
    color: rgb(245, 243, 243);
    text-decoration: none;
}

#footer-nav-items a:hover {
    color: white;
    text-decoration: none;
}


button {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: large;
    background: #333;
    color: #fff;
    border-color: #333;
}

button:hover {
    background: #000;
    border-color: #333;
}

.footer-legal-logoTNW {
    width: 3%;
}

#stackpath {
    width: 5%;
}